DATABASE_URL="postgresql://username:password@localhost:5432/bank_db"
JWT_ACCESS_SECRET="your-32-character-minimum-secret-key-here"
JWT_REFRESH_SECRET="your-32-character-minimum-secret-key-here"
UI_ORIGIN="http://localhost:3000"
RATE_LIMIT_RPM=250
ADMIN_EMAIL="admin@bank.local"
ADMIN_PASSWORD="ChangeMe123!"

